#carouselFilm{
    width: 50vw;
    height: 28vw;
    background-color: #D4E6F1;
    margin-left: 20vw;
    margin-top: 5vh;
}

.img{
    width: 20vw;
    height: 28vw;
    box-shadow: 5px 2px 15px 2px rgba(0,0,0,0.6);
}

.description{
    position: absolute;
    top: 0;
    right: 0;
    width: 27vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.description h1{
    text-align: center;
    font-size: 4rem;
    width: 100%;
    color: black;
}

.syn{
    width: 80%;
    font-size: 1.2rem;
    height: 28vw;
}

.genre{
    position: absolute;
    bottom: 20%;
    font-weight: bold;
    font-style: italic;
}
