* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body > h1{
    color: yellow;
    margin-top: 10vh;
    margin-left: 15vh;
    font-size: 3rem;
}

#recommendation{
    margin-top: 5vh;
    margin-left: 15vh;
    color: dodgerblue;
}

#resetH1{
    margin-top: 10vh;
    margin-left: 15vh;
    font-size: 3rem;
    color: white;
    display: flex;
    flex-direction: row;
}

#resetH1 > div{
    height: 3rem;
    width: 1px;
    border: 1px solid yellow;
    border-radius: 10%;
}

#resetH1 > h1 {
    margin-left: 1vw;
}

#resetH1 > a {
    margin-top: -0.5%;
    margin-left: 1%;
}

#resetH1 > a:hover{
    color:  yellow;
}

#recently{
    color: white;
    margin-top: 10vh;
    margin-left: 15vh;
    font-size: 3rem;
}

body > span:not(.profileName){
    font-size: 1.5rem;
    margin-left: 15vh;
    color: white;
}

#randomProfil{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15vh;
    margin-top: 5vh;
}

#randomProfil img{
    border-radius: 50%;
    margin-left: 2vw;
    width: 5vw;
    height: 5vw;
}

#randomProfil span{
    color: white;
    position: relative;
    top: 10%;
    margin-left: 2vw;
    vertical-align: bottom;
}

.profileDiv{
    display: flex;
    flex-direction: column;
}

#signIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    font-size: 1.7rem;
    color: white;
}

#signIn i {
    margin-bottom: 2vh;
}

#signIn button{
    margin-top: 4vh;
    font-size: 1.5rem;
}

#buttonMoreToWatch{
    margin-left: 15vh;
    margin-top: 5vh;
}

#buttonMoreToWatch button{
    width: 20vw;
    margin-right: 3vh;
    height: 5vh;
    border: 1px solid white;
    background-color: black;
}

#barreJauneBas{
    font-size: 1.7rem;
    margin-left: 20vh;
    color: white;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

#barreJauneBas span{
    text-align: center;
    margin-top: 5vh;
}

#barreJauneBas div{
    width: 100%;
    border: 3px solid yellow;
    margin-top: 1vh;
}

#topBoxOffice{
    width: 100vw;
}

#contBoxOffice{
    width: calc(100vw - 30vh);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15vh;
    color: white;
    font-size: 1.7rem;
}

#contBoxOffice div{
    width: 50%;
}


#contBoxOffice div:nth-child(2n){
    background: rgb(53,53,55);
    background: linear-gradient(90deg, rgba(53,53,55,1) 3%, rgba(148,148,152,1) 27%, rgba(246,249,250,1) 100%);
}